body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #FFFFFF;
}

.btn_create_emp > button.btn.btn-default.btn-lg {
    margin-left: 20px;
}

.button-actions > button.btn.btn-default.btn-lg{
    width: 100px;
}

a {
    color: #151515;
}

.table {
    margin-left: 20px;
    margin-right: 20px;
    width: inherit;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 7px 15px;
    font-size: 18px;
    line-height: 20px;
}

.my_footer {
    height: 20px;
    text-align: center;
    padding-top: 20px;
}

.form-group{
    padding-top: 10px;
    padding-left: 30px;
}