button, input, select, textarea {
    width: 350px;
}

body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #FFFFFF;
    height: auto;
}

/*todo Не работают(*/
.telephone_tbl > .table {
    margin-left: 0px;
    margin-right: 0px;
}

.phone_button > button {
    width: 50px;
}

.add_phone_button>button{
    width: 200px;
}

.btn-action > button {
    width: 350px;
}

.btn-group > button {
    width: 280px;
    box-shadow: #222222;
}

.btn-group > .btn:first-child {
    width: 280px;
}

.navbar-fixed-bottom{
    position: static!important;
}

.form-group {
    padding-top: 10px;
     padding-left: 0;
}

.input-group {
    width: 350px;
}

.container {
    padding-right: 15px;
     padding-left: 0;
    margin-right: auto;
     margin-left: 0;
}

a {
    color: #000000;
    text-decoration: none;
}

.btn-primary {
    border-color: #101010;
}

.col-md-2 {
    width: 10%;
}

legend {
    font-size: 25px;
}
