.navbar-brand {
    float: left;
    height: 50px;
    padding: 7px 15px;
    font-size: 18px;
    line-height: 20px;
}

.my_footer {
    height: 20px;
    text-align: center;
    padding-top: 20px;
}

.form-group{
    padding-top: 10px;
    padding-left: 30px;
}

body{
    height: auto;
    /*background-color: #204d74;*/
}
.btn-group>button{
    width: 280px;
    box-shadow: #222222;
}

.select {
    color: #1b4080; /* Цвет текста */
    font-weight: 600; /* Жирное начертание */
    text-align: center; /* Текст по середине */
}

