.container {
    width: 500px;
}

.well-sm {
    padding: 9px;
    border-radius: 3px;
    width: 470px;
}


.navbar-nav>li>.dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: 500px;
}

.user-img>.well-sm {
background-color: darkgrey; 
    width: 150px;
}